.infoLayout {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 50px;
  .layout1 {
    margin: 0 auto;
  }
  .layout2 {
    margin: 0 auto;
  }
}
.room {
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
  }
  position: relative;
}
.listRoom {
  width: 760px;
  display: unset !important;
  grid-template-rows: unset !important;
  gap: unset !important;
}
.roomName {
  font-size: 20px;
  line-height: 28px;
}
.roomAlias {
  font-size: 14px;
  line-height: 22px;
}
.roomPrice {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.ant-modal-footer {
  display: none !important;
}
@media (max-width: 1199.98px) {
  .infoLayout {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    .listRoom {
      margin: 0 auto;
      .room {
        margin-bottom: 20px;
      }
    }
  }
  .layout1 {
    height: 600px;
  }
}
@media (max-width: 767.98px) {
  .infoLayout {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 0.5fr 1fr;
    gap: 20px;
    .listRoom {
      .room {
      }
    }
    .iframeMap {
    }
  }
  .layout1 {
    height: 400px;
  }
  .layout2 {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .infoLayout {
    .listRoom {
      width: 530px !important;
      .room {
        margin: 0 auto;
        grid-template-columns: unset;
        grid-template-rows: 1fr 0.5fr;
        width: 100%;
        .roomPrice {
          bottom: unset;
          right: 50px;
          top: 50px;
        }
      }
    }
  }
  .layout1 {
    height: 500px;
  }
  .layout2 {
    text-align: center;
  }
}
