.banner {
  .mask {
    background-position: 50%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #000000b3 !important;
  }
}
