.footerTabRender {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  background-color: #f3f4f6;
  .tabRenderTitle {
    font-size: 20px;
    text-align: left !important;
  }
  .tabRenderContent {
    font-size: 12px;
    text-align: left !important;
    display: block;
  }
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
}
.ant-tabs-tab {
  color: #8a8a8a;

  .ant-tabs-tab-btn {
    color: #8a8a8a;
  }
}
.ant-tabs-nav {
  background-color: #f3f4f6;
  margin: unset !important;
}
.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 1px solid black !important;
  z-index: 10;
}
.bottom-footer {
  background-color: #f3f4f6 !important;
}

.footer {
  .footerTabRender {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; // Adjust the gap as needed

    button {
      display: flex;
      flex-direction: column;
      align-items: start;

      .tabRenderTitle {
        font-size: 1rem;
        font-weight: bold;
      }

      .tabRenderContent {
        font-size: 0.875rem;
      }
    }
  }

  .bottom-footer {
    .container {
      max-width: 1200px;
      padding: 0 20px;
      margin: 0 auto;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;

      .footer-column {
        h3 {
          margin-bottom: 1rem;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 0.5rem;
          }
        }
      }

      .flex-wrap {
        flex-wrap: wrap;
      }

      .space-x-4 > :not(:last-child) {
        margin-right: 1rem;
      }
    }

    .text-center {
      text-align: center;
    }

    .text-xs {
      font-size: 0.75rem;
    }

    .text-gray-500 {
      color: #6b7280;
    }

    .border-t {
      border-top: 1px solid #e5e7eb;
    }

    .pt-4 {
      padding-top: 1rem;
    }

    .mt-6 {
      margin-top: 1.5rem;
    }
  }
}
.ant-tabs-nav-wrap {
  justify-content: center;
}
